.footer{
    background-color: #161616;
    color: #D1D1D1;
    padding-top: 3%;

}

.carousel-inner{
    height: 300px;
    margin-top: 50px;
}

.navbar-brand{
    font-family: viga;
    font-size: 25px;
}

@media (min-width:992px){
    .nav-link{
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #8b8b8b !important;
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -6px;

    }

    .carousel-inner{
        height: 600px;
    }
}