.pemesan{
    width: 58%;
}

.perusahaan{
    margin-left: 2%;
    width: 40%;
}

.modal-content{
    width: 120% !important;
}

.modal-dialog{
    margin-left: 30% !important;
}

.container
{
    border-radius: 5px;
    box-shadow:2px 2px 2px 4px rgba(0, 0, 0, 0.288);
}
