/* home dan main */

.wa{
    position:fixed;
    bottom:0px;
    right:30px;
    z-index:100;
    width: 80px;
    height: 80px;
}

.footer{
    background-color: #161616;
    color: #D1D1D1;
    padding-top: 3%;
    font-family: montserrat;
}

.navbar{
    position: fixed;
    background-color: white !important;
    box-shadow: 0px 2px 6px #16161631;
}


.navbar-brand{
    z-index:1;
}

.navbar-nav {
    z-index:1;
}

.navbar-nav a{
    font-family: montserrat;
    text-shadow: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #4e4e4e !important;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #1616162f;
}

.dropdown-item{
    font-family: montserrat;
    text-transform: capitalize;
}

.dropdown-menu{
    background-color: #ffffff;
}

.dropdown-menu a{
    text-shadow: none;
    font-weight: bold;
    color: rgb(116, 116, 116) !important;
}

/* ============ carousel ================ */

.carousel-inner{
    height: 670px !important;
    margin-top: 4%;
}

.carousel-caption{
    margin-bottom: 27%;
    margin-right: 0%;
    font-family: 'lora';
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px #161616;
    text-align: center;
    animation: drop 1.5s ease;
}


.carousel {
    background-size: cover;
    position: relative;
}


.carousel-item::after{
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.658);
    position: absolute;
    bottom: 0;
}

.text-jargon{
    font-family: 'viga';
    font-size: 50px;
}

.text-keterangan{
    font-size: 18px;
    padding: 0;
}



@keyframes drop{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/* ============ akhir carousel ========== */

.visimisi{
    font-family: viga;
    margin-top: 7%;
}

.kenapa{
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.733);
}

.visi{
    font-family: montserrat;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.keunggulan{
    background-color: #06a555;
}

.keterangan_keunggulan{
    font-family: montserrat;
    font-size: 30px;
    font-weight: 600;
    color: rgba(14, 65, 52, 0.794);
}

.keterangan{
    font-family: montserrat;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    color: rgba(14, 65, 52, 0.794);
}

.banner {
    font-family: viga;
    text-shadow: 1px 1px 2px rgba(14, 65, 52, 0.794);
    background-color:white;
    letter-spacing: 2px;
    color: #06a555;
}

.produk{
    font-family: viga;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.863);
}

.navbar-brand{
    font-family: viga;
    font-size: 25px;
}

.wa img{
    filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.7));
}











/* Halaman Produk */
/* info panel */
.panel-kaos{
    margin-top: 15%;
    border-radius: 10px;
    background-color: white;
}


.kaos{
    border-bottom: 3px solid #1f1f1f8c !important;
}

.ukuran-kaos{
    border: #16161613 solid 1px;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px 2px #16161631;
}

.breadcrumb .active{
    color: #16161642;
}

.breadcrumb a{
    text-decoration: none;
}

.tulisan-wa{
    display: inline-block;
    /* right:100px; */
    /* margin-right: 40px; */
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.788);
    width: 250px;
    padding-top: 2px;
    height:30px;
    text-align: center;
    bottom:85px;
    right:60px;
    z-index:100;
    position:fixed;
    color: white;
    box-shadow: 2px 2px 2px #16161631;
}

.card{
    border-radius: 5px;
    box-shadow: 2px 2px 2px #16161631;
    width:355px !important;
    height: 235px !important;
}












/* halaman pesan */
.pesan{
    margin-top: 18%;
}

.formulir{
    border: #161616 solid 1px;
    padding: 3%;
    border-color: #D1D1D1;
    box-shadow: 2px 2px 2px #16161634;
}















@media (min-width:992px){
    .garis{
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        font-family: montserrat;
    }

    .garis:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #086b7cd2 !important;
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -6px;

    }

    .carousel-inner{
        height: 600px;
    }

    /*  halaman produk */
    /* info panel*/
    .panel-kaos{
        margin-top: 7%;
        border-radius: 10px;
        background-color: white;
    }

    .card{
        border-radius: 5px;
        box-shadow: 2px 2px 2px #16161631;
        width:18rem;
    }

    .pesan{
        margin-top: 10%;
    }

    .tulisan-produk{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

}

@media (min-width:768px) and (max-width:991px){
    /* ============== carousel ===================*/
    .carousel-inner{
        height: 400px !important;
    }

    .carousel-caption{
        margin-bottom: 5%;
        margin-right: 0%;
        font-family: 'lora';
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px #161616;
        text-align: center;
    }

    .carousel {
        background-size: cover;
        position: relative;
    }

    .carousel-item{
        height: 400px !important;
    }

    .carousel-item img{
        /* margin-top: 8%; */
    }

    .carousel-item::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.452);
        position: absolute;
        bottom: 0;
    }

    .text-jargon{
        font-family: 'viga';
        font-size: 40px;
    }

    .text-keterangan{
        font-size: 18px;
        padding: 0;
    }

    /* ============== akhir carousel =============*/
    .panel-kaos{
        margin-top: 10%;
        border-radius: 10px;
        background-color: white;
    }

    .card{
        border-radius: 5px;
        box-shadow: 2px 2px 2px #16161631;
        width:18rem;
    }

    .pesan {
        margin-top:15%;
    }
}

@media (min-width:572px) and (max-width:767px){
    /* ============== carousel ===================*/
    .carousel-inner{
        height: 300px !important;
        margin-top: 0;
    }

    .carousel-caption{
        /* margin-bottom: 5%; */
        margin-right: 0%;
        font-family: 'lora';
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px #161616;
        text-align: center;
    }

    .carousel {
        background-size: cover;
        position: relative;
    }

    .carousel-item{
        height: 400px !important;
    }

    .carousel-item img{
        /* margin-top: 8%; */
    }

    .carousel-item::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.452);
        position: absolute;
        bottom: 0;
    }

    .text-jargon{
        font-family: 'viga';
        font-size: 25px;
    }

    .text-keterangan{
        font-size: 18px;
        padding: 0;
    }

    /* ============== akhir carousel =============*/
    .panel-kaos{
        margin-top: 10%;
        border-radius: 10px;
        background-color: white;
    }

    .card{
        border-radius: 5px;
        box-shadow: 2px 2px 2px #16161631;
        width:18rem;
    }

    .pesan {
        margin-top:15%;
    }
}
@media (min-width:0px) and (max-width:571px){
    /* ============== carousel ===================*/
    .carousel-inner{
        height: 260px !important;
        padding-top: 10%;
    }

    .carousel-caption{
        margin-bottom: 5%;
        margin-right: 0%;
        font-family: 'lora';
        letter-spacing: 2px;
        text-shadow: 2px 2px 2px #161616;
        text-align: center;
    }

    .carousel {
        background-size: cover;
        position: relative;
    }

    .carousel-item{
        height: 203px !important;
    }

    .carousel-item::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.452);
        position: absolute;
        bottom: 0;
    }

    .text-jargon{
        margin-top: 40%;
        font-family: 'viga';
        font-size: 18px;
    }

    .text-keterangan{
        font-size: 14px;
        padding: 0;
    }


    /* ============== akhir carousel =============*/

    .kaos{
        font-size: 15px;
    }

    .ukuran-kaos{
        width: 80%;
        margin-left: 10%;
    }

    .navbar{
        font-family: montserrat;
        text-transform: capitalize;
    }

    .nav-item.dropdown{
        text-transform: capitalize;
    }

    .tulisan-produk{
        text-shadow: none;
    }

    .footer{
        background-color: #161616;
        color: #D1D1D1;
        padding-top: 3%;
        font-family: montserrat;
        letter-spacing: 1px;
        word-spacing: 10px;
        font-size: smaller;
    }
}
