.notif{
    font-size: 8px;
}

.progress {
    position:relative;
    width:100%;
}
.bar {
    background-color: #008000;
    width:0%; height:20px;
}
.percent {
    position:absolute;
    display:inline-block;
    left:50%;
    color: #7F98B2;
}

.kontener {
    background-color: white !important;
    padding: 2% !important;
    margin-left: 1% !important;
    width: 98% !important;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(139, 139, 139);
}

.kontenerPelanggan{
    background-color: white;
    padding: 1% !important;
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgb(139, 139, 139);
    padding-bottom: 1%;
}

.fa-bell{
    width: 5% !important;
}

.notif{
    font-size: 20px;
}

.links{
    margin-left:76%;
}

#notif{
    font-size: 12px !important;
}

#hapusKatalogKaos{
    height: 20px !important;
    font-size: 10px;
    padding-top: 1px !important;
    border-color: white;
}

.previewKatalogKaos{
    /* width: 100px;
    height: 120px !important;
    background-color: yellowgreen; */
}
