*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-transaksi
{
    background-color: white;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.274);
    border: 1px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.transaksi{
    padding-top: 4%;
    /* padding-bottom: 4%; */
}

.pemesan
{
    width: 55%;
    display: flex;
    float: left;
}

.perusahaan{
    padding-left: 10px;
    display: flex;
}


.modal-dialog
{
    margin-left: 27%;
}
.modal-content{
    width: 130%;
}
